.day-subscriber{
  width: 33%;
  font-weight: 600;
  height: 30vh;
}

.week-subscriber{
  width: 33%;
  font-weight: 600;
  height: 30vh;
}

.server-message{
  width: 33%;
  font-weight: 600;
  height: 30vh;
}