.day-subscriber{
  width: 33%;
  background: red;
  height: 30vh;
}

.week-subscriber{
  width: 33%;
  background: black;
  height: 50%;
}

.server-message{
  width: 33%;
  background: blue;
  height: 50%;
}