.ant-pagination-options{
  display: none !important;
}

.ant-table-wrapper{
  .ant-table-thead >tr>th {
    font-size: 12px;
    background:#001529;
    padding: 14px 12px;
    color: #fff;
  }

  .ant-table-container table>thead>tr{
    th{
      text-align:left !important;
    }
    &:first-child th{
      &:first-child{
        border-start-start-radius:0px
      }
      &:last-child{
        border-start-end-radius: 0px ;
      }
    }
    
  }
  .ant-table-cell-scrollbar:not([rowspan]){
    box-shadow: 0 1px 0 1px #001529;
  }
  .ant-table-tbody>tr>td{
    font-size: 12px;
    padding: 10px 12px;
  }
}

.ant-card{
  .ant-card-head-title{
    padding: 12px 0;
  }
  .ant-card-body{
    padding: 5px 24px 24px 24px;
  }
} 
.table-header-text{
  font-size: 12px;
}

.ant-layout .ant-layout-footer{
  padding: 12px 50px;
  font-size: 10px;
}


@media (hover: hover) and (pointer: fine) {
  ::-webkit-scrollbar {
    width: 13px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #adc4c7;
    border-radius: 10px;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    -ms-background-clip: padding-box;
    border: 2px solid transparent;
    &:hover {
      background-color: #adb5bd;
    }
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.06);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }
}